<header class="header">
    <div class="container">
  <div class="header__wrapper">
    <a href="./" class="header__logo-link">
      <img src="@img/icons/logo.svg" alt="logo" class="header__logo" />
    </a>

    <ul class="header__list">
      <li class="header__item">
        <img src="@img/icons/menu-btn.svg" alt="burger" class="header__burger"/>
        <a href="tel:380971234567" class="header__number header-font">+38 (097) 123 45 67</a>
      </li>

      <li class="header__item">
        <p class="header__request">request for a call</p>
        
        <div class="header__phone">
            <div class="header__phone-wrapper"></div>
        <img src="@img/icons/phone.svg" alt="phone"/>
        </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
</header>